*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-width: 20rem;
  min-height: 100%;
  text-size-adjust: 100%;
}

body,
h1,
h2,
h3,
p {
  margin: var(--space-0);
}

body {
  min-width: 20rem;
  min-height: 100vh;
}

button,
input {
  font: inherit;
}

button {
  border: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}
